/*


-- 01 Typography
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

font weights:
default: 400
medium 500
semi 600
bold 700

line height:
default: 1
small: 1.05
medium 1.2
paragraph default: 1.6

Letter spacing: 
-0.5
0.75px

--------------------------------------------------------------------------------
-- 02 Colors
Primary: #e67e22


Tints:
background #fdf2e9

Shades: 
#cf711f

Accents:
- Greys
#555
#333;
#6f6f6f alowed on #fdf2e9

--------------------------------------------------------------------------------
--- 05 SHADOWS

--------------------------------------------------------------------------------
--- 06 border radius

default 9px
--------------------------------------------------------------------------------
--- 07 WHITESPACE
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* *********************************** */
/* GENERAL REUASBLE COMPONENTS*/
/* *********************************** */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;

  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  display: inline-block;

  /* only necessary for forms */
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* put animation on original state */
  transition: all 300ms;
}

.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
  transform: translateY(-0.5rem);
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  /* trick to add border without jumping */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-rs {
  margin-right: 1.6rem !important;
}

.margin-bm {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}

.center-text {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.ionicon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
